<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /sunyabroad/
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /sunyabroad/index.php [L]
</IfModule>