<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><input type="text" ng-model="title" style="border:none;"><a class="btn" ng-click="savePage()">Save</a> </h1>
                    <h2 ng-show="type == 'posts'"><input type="text" ng-model="subtitle" class="col-lg-12" style="border:none;" placeholder="Subtitle"></h2>
                    <a ng-href="#/{{type}}">Back</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
<div class="col-lg-12">
    
    <div class="panel panel-default">
       <!--  <div class="panel-heading">
            DataTables Advanced Tables
        </div> -->
        <!-- /.panel-heading -->
        <div class="panel-body">
            <form name="demo">
                <div ng-model="html_content" medium-editor style="min-height:500px"></div>
            </form>
        </div>
        <div class="well">
              <div id="spin"></div>
              <h1>Firepano</h1>
              <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
              <br/>
              <img class="pano" id="pano" />

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</row>